mim/mrp_mim/models/__pycache__/bom.cpython-36.pyc
mim/mrp_mim/models/__pycache__/production.cpython-36.pyc
mim/refresh_fields/models/__pycache__/migration.cpython-36.pyc
mim/sale_mim/models/__pycache__/currency.cpython-36.pyc
mim/stock_mim/models/__pycache__/stock_move.cpython-36.pyc
